extends ../layout.jade

block head
	title shopping cart
	link(href='/css/eStyle.css' rel='stylesheet' type='text/css')


block content
	p
		|Subtotal (#{products.length} items) $#{subtotal}
	
	each product in products

		if product.img
			a(href="/products/#{product._id}"): img(src=product.img alt=product.model width="100" height="100")
		else
			a(href="/products/#{product._id}"): img(src="/img/no-img.png" alt="no image available" width="100" height="100")
		p 
			|#{product.model}
			br
			|$#{product.price}

		form(method='post' action='/products/cart/remove/#{product._id}')
			button(type='submit' name='remove-from-cart').
				Remove from cart

	if subtotal > 0
		form(method='get' action='/products/payment')
			button(type='submit' name='pay').
				Proceed to checkout